/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";
@namespace components "com.transparent.activities.powerslides.view.components.*";


.questionaireViewGuestionBoxLabelStyle
{
	color: #deeaf1;
	font-size: 30;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
}
.viewSkinTranslationFieldLabelStyle
{
	font-size:18;
	text-align:center;
	vertical-align:middle;
	color:#ffcc66;
	line-height:22;
}
.answerPanelTitleLabelsStyle
{	
	font-size:17;
	text-align:center;
	vertical-align:middle;
	color:#94dbff;
	line-height:17;
}
.wordFeedbackTrueLabelStyle
{
	color: #4fd634;
	font-size: 15;
	line-height: 40;
	text-align: center;
	vertical-align: middle;
	
}
.wordFeedbackFalseLabelStyle
{
	color: #e81603;
	font-size: 17;
	line-height: 40;
	text-align: center;
	vertical-align: middle;
	
}
.recordPanelTitleLabelStyle
{
	font-lookup: embeddedCFF;
	font-size:20;
	text-align:center;
	vertical-align:middle;
	color:#d6d6d6;
	line-height:22;
}

.recordPanelFeedbackLabelsStyle
{
	font-size:15;
	text-align:center;
	vertical-align:middle;
	color:#ffedb2;
	line-height:17;
}
.progressBlockLabelProgressStyle
{
	vertical-align:top;
	color:#f0cd7d; 
	font-size:16;
	text-align:left;
}
.wordFeedbackMsgLabelStyle
{
	color: #4fd634;
	font-size: 18;
	font-weight: normal;
	line-height: 18;
	text-align: center;
	vertical-align: top;	
}
.messageBoxLabelStyle
{
	font-size:14;
	line-height:16;
	font-style:normal;
	color:#394347;
}